.boxthree{
        width:350;
        height:150px;
        margin:10px;
        padding:25px;
        border:5px solid black;
        background:
            linear-gradient(
                105deg,
                rgb(200, 0, 0) 39%,
                rgb(0, 0, 0) 96%
            ) center center / 400px 200px no-repeat,
            url(Rxttz.png) center no-repeat,
            rgb(114, 0, 8);
    }
    