
body {
    background: linear-gradient(#800000, #9c4b0c);
}

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        margin: 0;
       
    }
    
    .title-text {
        font-size: 4rem;
        transform: rotate(-22.5deg);
        font-weight: bold;
        background: linear-gradient(to right, black, rgb(30, 255, 0), black);
        background-size: 300% 100%;
        -webkit-background-clip: text; 
        color: transparent;
        animation: gradientAnimation 6s linear infinite;
    }
    
    @keyframes gradientAnimation {
        0% {
            background-position: 0% 0%; 
        }
        50% {
            background-position: 100% 0%; 
        }
        100% {
            background-position: 200% 0%;
        }
    }
    
    
    
    
        
    .rxttz {
        height: 30vh;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        }

    .icons {
        height: 100px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        }

    
        body, html {
            margin: 0;
            padding: 0;
            overflow: hidden;
            width: 100%;
            height: 100%;
            position: relative;
            background-color: white; /* Or any other background color or image */
        }
        
        .container, .rxttz, .icons, a, figure {
            position: relative;
            z-index: 1; /* Ensure these elements are above the canvas */
        }        
        canvas {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            z-index: 0; /* Ensure the canvas is behind other elements */
        }

        